/**********************************************************************************
For the index page
*******************************************************************************/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../script/fonts/glyphicons-halflings-regular.eot');
  src: url('../script/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../script/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../script/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../script/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/************replace the default style **********/
a {
    color: white;
}
a:hover{
    text-decoration: none;
    color: #a1a1a1;
}
body#homepage ::-webkit-input-placeholder{
  color: #eeeeee;
}
body#homepage :-moz-placeholder {
    color: #eeeeee;
}
body#homepage ::-moz-placeholder {
    color: #eeeeee;
}
body#homepage :-ms-input-placeholder{
    color: #eeeeee;
}
body{
    background-color: #f7f8fa;
}
body#homepage {
    background-image: url(../images/index2.jpg);
    background-repeat: no-repeat;
    text-align: center;
}
div.logo:hover{
     color: #a1a1a1;
}
div.logo svg:hover{
    fill: #a1a1a1;
}
body#homepage div.main {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.875rem;
    letter-spacing: 2px;
}

div.logo {
    float: left;
    padding: 2rem;
    margin-left: 2%;
    cursor: pointer;
}
div.logo svg{
    fill: white;
    display: inline-block;
}
div.logo span{
    position: relative;
    top: -1.8rem;
}

div.user-entrance {
    float: right;
    padding: 2rem;
    margin-right: 2%;
    cursor: pointer;
}
div.user-entrance.after-login svg{
    fill: white;
}
div.user-entrance.after-login span.user-name {
    position: relative;
    bottom: 1rem;
}
div.user-entrance.after-login:hover{
    color: #a1a1a1;
    fill: #a1a1a1;
}
div.user-entrance.after-login span.user-profile svg:hover {
    fill: #a1a1a1;
    color: #a1a1a1;
}
div.index-content {
    position: absolute;
    top: 25%;
    left: 33%;
    text-align: left;
}

h1.index-title {
    letter-spacing: 3px;
}

/********************for the search bar**************************/
div.search-bar {
    position: absolute;
    top: 52%;
    left: 36%;
}
.cntr {
    display: table;
    width: 100%;
    height: 100%;
}

.cntr .cntr-innr {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*** STYLES ***/
.search {
    display: inline-block;
    position: relative;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    margin: 0 12px 7px 8px;
    padding: 7px 9px 0 9px;
    border: 3px solid #FFFFFF;
    border-radius: 60px;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    cursor: text;
}

.search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 55px;
    right: -18px;
    top: 38px;
    background: #FFFFFF;
    border-radius: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.search.active,
.search:hover {
    left: -4rem;
    width: 48rem;
    margin-right: 0;
}

.search.active:after,
.search:hover:after {
    height: 0;
}

.search input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 3rem;
    color: inherit;
    background: transparent;
    outline-width: 0;
}

div.cntr-innr p{
    display: inline-block;
}
div.cntr-innr p.hover, div.cntr-nnr p:hover{
    box-shadow: 0 0.2rem 0 #C8F7E5;
}
/********登陆注册模态框 *******************/

div.modal-logo svg{
    fill: #444444;
    width: 24px;
    height: 24px;
}
.modal-footer {
    padding: 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.modal-content {
    width: 400px;
    border: none;
    margin: 0 auto;
}
div.modal-btn-footer {
    width: 100%;
    height: 100%;
    background-color: #0A7BB0;
    padding: 1rem;
    cursor: pointer;
}
div.modal-btn-footer:hover{
    background-color: #4cae4c;
}
div.error-message {
    color: rgba(205, 0, 0, 0.8);
    font-size: smaller;
    margin-top: 0.1rem;
}
span.log-out {
    float: right;
}
span.log-out:hover{
    color: rgba(205, 0, 0, 0.8);
}



/*.backOut {*/
  /*position: fixed;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*z-index: 1040;*/
  /*background-color: #000;*/
  /*width: 1300px;*/
  /*height: 1000px;*/
/*}*/

/*.backOut.fade {*/
  /*filter: alpha(opacity=0);*/
  /*opacity: 0;*/
/*}*/
/*.backOut.in {*/
  /*filter: alpha(opacity=50);*/
  /*opacity: 1;*/
/*}*/

























