/**********************************************************************************
For the index page
*******************************************************************************/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../script/fonts/glyphicons-halflings-regular.eot');
  src: url('../script/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../script/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../script/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../script/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/************replace the default style **********/
body#homepage a {
    color: white;
}
a {
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: #a1a1a1;
}
body#homepage ::-webkit-input-placeholder{
  color: #eeeeee;
}
body#homepage :-moz-placeholder {
    color: #eeeeee;
}
body#homepage ::-moz-placeholder {
    color: #eeeeee;
}
body#homepage :-ms-input-placeholder{
    color: #eeeeee;
}
body{
    background-color: #f7f8fa;
}
body#homepage {
    background-image: url(../images/index2.jpg);
    background-repeat: no-repeat;
    text-align: center;
}
div.logo:hover{
     color: #a1a1a1;
}
div.logo svg:hover{
    fill: #a1a1a1;
}
body#homepage div.main {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.875rem;
    letter-spacing: 2px;
}

div.logo {
    float: left;
    padding: 2rem;
    margin-left: 2%;
    cursor: pointer;
}
div.logo svg{
    fill: white;
    display: inline-block;
}
div.logo span{
    position: relative;
    top: -1.8rem;
}

div.user-entrance {
    float: right;
    padding: 2rem;
    margin-right: 2%;
    cursor: pointer;
}
div.user-entrance.after-login svg{
    fill: white;
}
div.user-entrance.after-login span.user-name {
    position: relative;
    bottom: 1rem;
}
div.user-entrance.after-login:hover{
    color: #a1a1a1;
    fill: #a1a1a1;
}
div.user-entrance.after-login span.user-profile svg:hover {
    fill: #a1a1a1;
    color: #a1a1a1;
}
div.index-content {
    position: absolute;
    top: 25%;
    left: 33%;
    text-align: left;
}

h1.index-title {
    letter-spacing: 3px;
}

/********************for the search bar**************************/
div.search-bar {
    position: absolute;
    top: 52%;
    left: 36%;
}
.cntr {
    display: table;
    width: 100%;
    height: 100%;
}

.cntr .cntr-innr {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*** STYLES ***/
.search {
    display: inline-block;
    position: relative;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    margin: 0 12px 7px 8px;
    padding: 7px 9px 0 9px;
    border: 3px solid #FFFFFF;
    border-radius: 60px;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    cursor: text;
}

.search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 55px;
    right: -18px;
    top: 38px;
    background: #FFFFFF;
    border-radius: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.search.active,
.search:hover {
    left: -4rem;
    width: 48rem;
    margin-right: 0;
}

.search.active:after,
.search:hover:after {
    height: 0;
}

.search input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 3rem;
    color: inherit;
    background: transparent;
    outline-width: 0;
}

div.cntr-innr p{
    display: inline-block;
}
div.cntr-innr p.hover, div.cntr-nnr p:hover{
    box-shadow: 0 0.2rem 0 #C8F7E5;
}
/********登陆注册模态框 *******************/
div.modal-logo svg{
    fill: #444444;
    width: 24px;
    height: 24px;
}
.modal-footer {
    padding: 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.modal-content {
    width: 400px;
    border: none;
    margin: 0 auto;
}
div.modal-btn-footer {
    width: 100%;
    height: 100%;
    background-color: #0A7BB0;
    padding: 1rem;
    cursor: pointer;
}
div.modal-btn-footer:hover{
    background-color: #4cae4c;
}
div.error-message {
    color: rgba(205, 0, 0, 0.8);
    font-size: smaller;
    margin-top: 0.1rem;
}
span.log-out {
    float: right;
}
span.log-out:hover{
    color: rgba(205, 0, 0, 0.8);
}

/***************************for the personal homepage*********************/
div.personal.main div[class^="movies-"]{
    background-color: rgba(255, 255, 255, 0.6);
    width: 50%;
    left: 35%;
    position: relative;
}
div.personal.main div.panel-heading a{
    color: #212121;
    text-decoration: none;
}
div.personal.main div.panel.panel-default{
    border: none;
}
div.personal.main div.panel-heading a:hover{
    font-weight: bolder;
}
div.movies-collected div.panel-heading{
    background-color: rgba(243, 137, 148, 0.36);
}
div.movies-scored div.panel-heading{
    background-color: rgba(148, 243, 137, 0.36);
}
div.movies-reviewed div.panel-heading{
    background-color: rgba(137, 148, 243, 0.36);
}
/*功能框*/
div.side-bar{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    width: 15%;
    position: fixed;
    left: 18%;
    display: inline-block;
    top: 20rem;
    font-size: 2.25rem;
    color: #212121;
    border-radius: 4.5%
}
div.side-bar ul{
    padding: 0;
}

div.side-bar ul li{
    list-style: none;
    border-bottom: 2px dotted #eeeeee;
    cursor: pointer;
    margin-bottom: 2rem;
    text-align: center;
}
div.side-bar ul li:nth-child(1):hover{
    background-color: rgba(243, 137, 148, 0.2);
}
div.side-bar ul li:nth-child(2):hover{
    background-color: rgba(148, 243, 137, 0.2);
}
div.side-bar ul li:nth-child(3):hover{
    background-color: rgba(137, 148, 243, 0.2);
}

/************************personal homepage main content ******************/
div.userstar{
    display: inline-block;
    margin-left: 3rem;
}
div.userstar ul{
    padding: 0;
    display: inline-block;
}
div#movies-scored div.allstar ul li{
    color: #eea236;
}
div#movies-scored div.allstar ul li.full-empty-star svg{
    fill: #eea236;
}

/*************************buy ticket page ***********************************/
div.ticket.main{
    top: 0;
}
div.ticket.main>div{
    text-align: center;
    background: none;
    margin: 0 auto;
}
div#movie-carousel div.item{
    width: 1000px;
    height: 300px;
    position: absolute;
    top: 0;
}
h2.ticket-title{
    position: absolute;
    top: 40%;
    left: 15%;
    font-weight: bold;
    font-size: 3rem;
    color: #FFFFFF;
}
div.movie-ticket span[class^="carousel-"]{
    display: inline-block;
    width: 6.8rem;
    height: 20rem;
    background-color: rgba(33, 33, 33, 0.3);
    position: fixed;
    top: 8rem;
     cursor: pointer;
    border-radius: 5%;
}
div.movie-ticket span[class^="carousel-"] svg{
    position: relative;
    top: 8rem;
    fill: rgba(255, 255, 255, 0.5);
}
div.movie-ticket span[class^="carousel-"]:hover svg{
    fill: rgba(255, 255, 255, 0.9);
}
div.movie-ticket span.carousel-left{
    left: 2rem;
}
div.movie-ticket span.carousel-right{
    right: 2rem;
}
/************************影院座位**************************************************/
div.movie-theater {
    position: absolute;
    width: 86%;
    max-width: 1000px;
    left: 10%;
    top: 32rem;
}
div.movie-theater div.movie-seat{
    padding: 0;
    margin: 0.25rem 2rem;
    width: 20px;
    height: 20px;
    background-color: #67b168;
    float: left;
    border: 1px solid #eeeeee;
}







