/****************************************************************************
for the movie page
**************************************************************************/
div.movie.main>div{
    margin: 0 18%;
    padding: 1% 10%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0.1rem 0.2rem #414141;
    margin-top: 1rem;
    border-radius: 2px;
}
div.movie-info {
    border-bottom: 1px dotted #eeeeee;
}
div.movie-info>div{
    display: flex;
    flex-direction: row;
}
div.movie-info div.img-poster {
    padding-right: 4%;
}
div.movie-info div{
    margin-top: 1.5rem;
}
div.info ul{
    padding: 0;
}
div.info ul li{
    list-style-type: none;
}
div.info ul li span {
    margin-right: 0.2rem;
}
div.info ul li ul, div.info ul li h4 {
    display: inline-block;
}
div.function-bar span.glyphicon {
    padding-right: 0.5rem;
}
div.function-bar span.glyphicon.glyphicon-stats {
    padding-left: 1.5rem;
}
div.function-bar ul {
    display: inline-block;
    padding: 0;
    padding-left: 0.2rem;
}
/******************************************功能区域*******************/
span.write-btn, span.glyphicon.glyphicon-pencil{
    cursor: pointer;
    color: #653d32
}
span.score-btn, span.glyphicon.glyphicon-stats{
    cursor: pointer;
    color:#725043;
}
div#reviewModal div.modal-body{
    text-align: center;
}
div.score ul.score{
    padding: 0;
    display: inline-block;
}
textarea.review{
    resize: none;
    width: 360px;
    height: 140px;
    max-width: 360px;
    max-height: 140px;
}


/************************推荐电影列表**************************/
div.recommend-movie img{
    display: block;
    cursor: pointer;
}
div.recommend-movie a{
    display: inline-block;
    color: #414141;
    width: 75px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}
div.recommend-movie td{
    padding: 0.1rem 2.5rem;
}
div.recommend-movie a:hover{
    text-decoration: underline;
    color: #515131;
    font-weight: bolder;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
div.recommend-movie img:hover{
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
}
/*****************************评论列表***********************/
div.comment {
    border-top: 1px dotted #eeeeee;
    margin-bottom: 4.5rem;
}
div.comment ul{
    display: inline-block;
    padding: 0;
}
div.comment div.comment-footer {
    float: right;
    margin-right: 1rem;
}
div.comment div.comment-footer span.glyphicon {
    margin-right: 1.2rem;
}
div.review-time{
    font-size: 1rem;
    padding-top: 0.1rem;
}



















