/**********************************************************************************
For the search result page
*******************************************************************************/
div.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    color: #212121;
    font-size: 1.875rem;
    vertical-align: middle;
    letter-spacing: 0.1rem;
    padding: 0.875rem;
    border: 1px solid #eeeeee;
    box-shadow: 0 0.1rem 0.2rem  #afafaf;
}
div.header.fixed-header {
    position: fixed;
    z-index: 10;
}

div.header div{
    cursor: pointer;
}

div.header-logo{
    float: left;
}
div.header-logo span{
    position: absolute;
    left: 6rem;
    top: 1.45rem;
}
div.header-navigation{
    color: #212121;
    display: inline-block;
    position: absolute;
    left: 15%;
    top: 20%;
}
div.header-navigation a {
    margin-left: 1rem;
}
div.header-search-bar{
    display: inline-block;
    position: absolute;
    left: 25%;
    top: 20%;
}
div.header-user-entrance{
    float: right;
    margin-top: 1.2rem;
    margin-right: 2rem;
}
div.header-logo svg{
    fill: #212121;
}
div.header-logo:hover{
    color: #afafaf;
}
div.header-logo svg:hover{
    fill: #afafaf;
}
div.header-user-entrance, div.header-user-entrance a, div.header-navigation, div.header-navigation a{
    color: #212121;
    display: inline-block;
}
div.header-user-entrance:hover, div.header-user-entrance :hover, div.header-navigation:hover, div.header-navigation a:hover{
    color: #afafaf;
}
div.header-search-bar{
    display: inline-block;
    color: #212121;
    margin-left: 3.6rem;
}

div.header-search-bar .search {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    margin: 0 12px 7px 8px;
    padding: 7px 9px 0 9px;
    border: 3px solid #66757f;
    border-radius: 30px;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    cursor: text;
}

div.header-search-bar .search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 18px;
    top: 14px;
    left: 20px;
    background: #66757f;
    border-radius: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

div.header-search-bar label.search.active,
div.header-search-bar label.search:hover {
    width: 28rem;
    left: 0;
    height: 36px;
    margin-right: 0;
    background-color: #f7f8fa;
}

div.header-search-bar label.search.active:after,
div.header-search-bar label.search:hover:after {
    height: 0;
}

div.header-search-bar .search input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 1.75rem;
    font-weight: 500;
    color: inherit;
    background: transparent;
    outline-width: 0;
    position: relative;
    bottom: 5px;
}

div.header-search-bar div.cntr-innr p{
    display: inline-block;
}
div.header-search-bar div.cntr-innr p.hover, div.cntr-nnr p:hover{
    box-shadow: 0 0.2rem 0 #C8F7E5;
}
/******************for the user after logining ***********************/
div.heading.user-entrance.after-login {
    padding: 0;
}
div.heading.user-entrance.after-login span.user-profile svg{
    fill: #212121;
}

/**********************************************
for the search page
 *********************************************/

div.main{
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 7%;
    height: auto;
}
div.main a{
    color: #212121;
}
div.main.fading{
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
}
div.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
}

div.movie-list {
    margin-left: 20%;
}
div.movie-person{
    margin-left: 20%;
}

table.movie {
    border-top: 1px dotted #aeaeae;
    position: relative;
    width: 545px;
}
table.movie td.poster{
    width: 100px;
    height: 150px;
}
table.movie span.movie-title, table.movie span.person-title {
    font-size: 1.875rem;
}
table.movie div.detail {
    margin: 1.2rem 0;
}

table.movie div.allstar{
    display: inline-block;
}
table.movie div.allstar ul li{
    color: gold;
    list-style: none;
    display: inline-block;
}
div.allstar ul{
    padding: 0;
}
li.full-empty-star {
    list-style: none;
    display: inline-block;
}
li.full-empty-star svg{
    fill: gold;
    width: 20px;
    height: 12px;
}
li.glyphicon.glyphicon-star {
    color: gold;
    list-style: none;
    display: inline-block;
}
li.glyphicon.glyphicon-star-empty {
    color: gold;
    list-style: none;
    display: inline-block;
}
div.tag-list {
    position: fixed;
    left: 67%;
    width: 20%;
    height: auto;
    /*margin-top: 4rem;*/
    border-top: 1px solid #aeaeae;
    box-shadow: -0.1rem -0.1rem 0.1rem #66757f;
    padding-left: 1rem;
    top: 26%;
}
div.tag-list ul{
    padding: 0;
}
div.tag-list ul li{
    list-style: none;
}
/**********************************************************************************
for the director html
 **************************************************************************************/
div.main.person{
    left: 0;
}

table.movie.person {
    display: inline-block;
    margin-right: 5rem;
}
div.movie-person table.movie div.know-more {
    text-align: right;
    color: #1b6d85;
    cursor: pointer;
    font-size: 1.75rem;
}
div.movie-person table.movie div.know-more:hover{
    color: #5e5e5e;
}

/*********************************************************
loading effect
 ********************************************************/
#fountainG{
	position:relative;
	width:240px;
	height:29px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgba(0,0,0,0.85);
	width:29px;
	height:29px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:30px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:60px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:90px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:120px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:150px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:180px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:210px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgba(0,0,0,0.85);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgba(0,0,0,0.85);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgba(0,0,0,0.85);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgba(0,0,0,0.85);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgba(0,0,0,0.85);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}



















