/**********************************************************************************
For the search result page
*******************************************************************************/
div.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 33, 33, 0.8);
    color: #FFFFFF;
    font-size: 1.675rem;
    vertical-align: middle;
    letter-spacing: 0.1rem;
    padding: 0.675rem;
    padding-bottom: 0.1rem;
    /*border: 1px solid #eeeeee;*/
    box-shadow: 0 0.1rem 0.2rem  #afafaf;
}
div.header.fixed-header {
    position: fixed;
    z-index: 10;
}

div.header div{
    cursor: pointer;
}

div.header-logo{
    float: left;
}
div.header-logo span{
    position: absolute;
    left: 6rem;
    top: 1.45rem;
}
div.header-navigation{
    color: #FFFFFF;
    display: inline-block;
    position: absolute;
    left: 15%;
    top: 20%;
}
div.header-navigation a {
    margin-left: 1rem;
}

a#movie-type-search{
    position: relative;
    left: 8.2rem;
    top: -2.3rem;
}
a#buy-ticket {
    position: absolute;
    left: 14rem;
    top: 0;
    width: 4rem;
}

div.header.fixed-header div.header-search-bar{
    display: inline-block;
    position: absolute;
    left: 25%;
    top: 20%;
    margin-left: 10.6rem;
}
div.header-user-entrance{
    float: right;
    margin-top: 1.2rem;
    margin-right: 2rem;
}
div.header-logo svg{
    fill: #FFFFFF;
}
div.header-logo:hover{
    color: #afafaf;
}
div.header-logo svg:hover{
    fill: #afafaf;
}
div.header-user-entrance, div.header-user-entrance a, div.header-navigation, div.header-navigation a{
    color: #FFFFFF;
    display: inline-block;
}
div.header-user-entrance:hover, div.header-user-entrance :hover, div.header-navigation:hover, div.header-navigation a:hover{
    color: #afafaf;
}
div.header-search-bar{
    display: inline-block;
    color: #FFFFFF;
    margin-left: 3.6rem;
}

div.header-search-bar .search {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    margin: 0 12px 7px 8px;
    padding: 7px 9px 0 9px;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    cursor: text;
}

div.header-search-bar .search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 18px;
    top: 14px;
    left: 20px;
    background: #FFFFFF;
    border-radius: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

div.header-search-bar label.search.active,
div.header-search-bar label.search:hover {
    width: 28rem;
    left: 0;
    height: 36px;
    margin-right: 0;
    background-color: #f7f8fa;
}

div.header-search-bar label.search.active:after,
div.header-search-bar label.search:hover:after {
    height: 0;
}

div.header-search-bar .search input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 1.75rem;
    font-weight: 500;
    color: #212121;
    background: transparent;
    outline-width: 0;
    position: relative;
    bottom: 5px;
}

div.header-search-bar div.cntr-innr p{
    display: inline-block;
}
div.header-search-bar div.cntr-innr p.hover, div.cntr-nnr p:hover{
    box-shadow: 0 0.2rem 0 #C8F7E5;
}
/******************for the user after logining ***********************/
div.heading.user-entrance.after-login {
    padding: 0;
}
div.heading.user-entrance.after-login span.user-profile svg{
    fill: #FFFFFF;
}
/***********************************************************
for the background
 **********************************************************/
div.carousel-inner.movie-background div.item{
    position: fixed;
    top: 0;
    left: 0;
    width: 1580px;
    height: 800px;
}
div.carousel-inner.movie-background div.item img{
    width: 1580px;
    height: 800px;
}

/**********************************************
for the search page
 *********************************************/
div.main{
    position: absolute;
    text-align: left;
    width: 100%;
    top: 11%;
    height: auto;
     /*background-color: white;*/
    /*box-shadow: 0 0.1rem 0.1rem #414141;*/
}
div.main a{
    color: #FFFFFF;
}
div.main.fading{
    -webkit-filter: opacity(0.6);
    filter: opacity(0.6);
}
div.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.85);
}
div.main div[class^="movie-"]{
    margin: 0 18%;
    padding: 1% 10%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0.1rem 0.1rem #414141;
}

/*div.movie-list {*/
    /*margin-left: 20%;*/
/*}*/
/*div.movie-person{*/
    /*margin-left: 20%;*/
/*}*/

table.movie {
    border-top: 0.21rem dotted #aeaeae;
    position: relative;
    width: 545px;
}
table.movie td.poster{
    width: 100px;
    height: 150px;
    padding: 1rem;
}
table.movie td.poster img{
    width: 80px;
    height: 120px;
    max-width: 100px;
    max-height: 145px;
}
table.movie span.movie-title, table.movie span.person-title {
    font-size: 1.875rem;
}
table.movie div.detail {
    margin: 1.2rem 0;
}
section.actor-star {
    margin: 0;
    padding: 0;
}

table.movie div.allstar{
    display: inline-block;
}
table.movie div.allstar ul li{
    color: #ffd866;
    list-style: none;
    display: inline-block;
}
div.allstar ul{
    padding: 0;
}
li.full-empty-star {
    list-style: none;
    display: inline-block;
}
li.full-empty-star svg{
    fill: gold;
    width: 20px;
    height: 12px;
}
li.glyphicon.glyphicon-star {
    color: #ffd866;
    list-style: none;
    display: inline-block;
}
li.glyphicon.glyphicon-star-empty {
    color: gold;
    list-style: none;
    display: inline-block;
}
div.tag-list {
    position: fixed;
    left: 67%;
    width: 20%;
    height: auto;
    /*margin-top: 4rem;*/
    border-top: 1px solid #aeaeae;
    box-shadow: -0.1rem -0.1rem 0.1rem #66757f;
    padding-left: 1rem;
    top: 26%;
}
div.tag-list ul{
    padding: 0;
}
div.tag-list ul li{
    list-style: none;
}
/**********************************************************************************
for the director html
 **************************************************************************************/
div.main.person{
    left: 0;
}

table.movie.person {
    display: inline-block;
    margin-right: 5rem;
}
div.movie-person table.movie div.know-more {
    text-align: right;
    color: #1b6d85;
    cursor: pointer;
    font-size: 1.75rem;
}
div.movie-person table.movie div.know-more:hover{
    color: #5e5e5e;
}



/*********************************************************
loading effect —— small
 ********************************************************/
#fountainG{
	position:relative;
	width:240px;
	height:29px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgba(0,0,0,0.85);
	width:29px;
	height:29px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:30px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:60px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:90px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:120px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:150px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:180px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:210px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgba(0,0,0,0.85);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgba(0,0,0,0.85);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgba(0,0,0,0.85);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgba(0,0,0,0.85);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgba(0,0,0,0.85);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

/******************************************************
loading effect —— big
 ******************************************************/
.search-loading {
	position: fixed;
	width: 60px;
	height:60px;
	margin:auto;
    z-index: 10;
    top: 24%;
    left: 36%;
}
div.main.loading div[class^="movie-"] {
    display: none;
}

.search-loading .wBall {
	position: absolute;
	width: 285px;
	height: 285px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.search-loading .wBall .wInnerBall{
	position: absolute;
	width: 38px;
	height: 38px;
	background: rgb(255,255,255);
	left:0;
	top:0;
	border-radius: 38px;
}

.search-loading #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.search-loading #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.search-loading #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.search-loading #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.search-loading #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

/***********************************************************
loading effect - bubble
**************************************************************/
.bubblingG {
	text-align: center;
	width:350px;
	height:219px;
	margin: auto;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 44px;
	height: 44px;
	margin: 109px auto;
	background: rgb(0,0,0);
	border-radius: 219px;
		-o-border-radius: 219px;
		-ms-border-radius: 219px;
		-webkit-border-radius: 219px;
		-moz-border-radius: 219px;
	animation: bubblingG 1.5s infinite alternate;
		-o-animation: bubblingG 1.5s infinite alternate;
		-ms-animation: bubblingG 1.5s infinite alternate;
		-webkit-animation: bubblingG 1.5s infinite alternate;
		-moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.45s;
		-o-animation-delay: 0.45s;
		-ms-animation-delay: 0.45s;
		-webkit-animation-delay: 0.45s;
		-moz-animation-delay: 0.45s;
}

#bubblingG_3 {
	animation-delay: 0.9s;
		-o-animation-delay: 0.9s;
		-ms-animation-delay: 0.9s;
		-webkit-animation-delay: 0.9s;
		-moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
	0% {
		width: 44px;
		height: 44px;
		background-color:rgb(0,0,0);
		transform: translateY(0);
	}

	100% {
		width: 105px;
		height: 105px;
		background-color:rgb(255,255,255);
		transform: translateY(-92px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 44px;
		height: 44px;
		background-color:rgb(0,0,0);
		-o-transform: translateY(0);
	}

	100% {
		width: 105px;
		height: 105px;
		background-color:rgb(255,255,255);
		-o-transform: translateY(-92px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 44px;
		height: 44px;
		background-color:rgb(0,0,0);
		-ms-transform: translateY(0);
	}

	100% {
		width: 105px;
		height: 105px;
		background-color:rgb(255,255,255);
		-ms-transform: translateY(-92px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 44px;
		height: 44px;
		background-color:rgb(0,0,0);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 105px;
		height: 105px;
		background-color:rgb(255,255,255);
		-webkit-transform: translateY(-92px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 44px;
		height: 44px;
		background-color:rgb(0,0,0);
		-moz-transform: translateY(0);
	}

	100% {
		width: 105px;
		height: 105px;
		background-color:rgb(255,255,255);
		-moz-transform: translateY(-92px);
	}
}


/********************************************************
增加页面具有点击效果的标签的样式
********************************************************/
span.person, span.movie-title, td.poster {
    cursor: pointer;
}
span.person:hover, span.movie-title:hover {
    text-decoration: underline;
    color: #515131;
    font-weight: bolder;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
td.poster:hover{
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
}

/***************************类型搜索**************************/
div.movie-dropdown-content::before {
   content: "";
    border-width: 2rem;
    display: inline-block;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 5px solid rgba(255, 255, 255, 0.8);
    position: relative;
    left: 3.6rem;
    top: -1.7rem;
    z-index: 200;
}
div.movie-dropdown-content{
   background-color: rgba(245, 245, 245, 0.9);
    position: relative;
    color: #212121;
    padding: 0 1rem;
    height: 16rem;
    left: 5.8rem;
    width: 12.8rem;
    top: 2px;
}
div.movie-dropdown-content ul{
    padding: 0;
    position: absolute;
    top: 1rem;
}
div.movie-dropdown-content ul li{
    list-style: none;
    border-bottom: 1px dotted #eeeeee;
}
div.movie-dropdown-content ul li:hover{
    font-weight: bolder;
}

div.movie-type-search:hover div.movie-dropdown-content {
    display: block;
}
/*************************************for the top100 **********************/
td.movie-ranking{
    background: none;
    position: absolute;
    left: -16%;
}
td.movie-ranking svg{
    fill: #a99987;
}
td.movie-ranking span{
    position: relative;
    top: -1.8rem;
    font-size: 2.2rem;
    color: #F38994;
}








